/* title line */

.tittle-line {
    background-color: #898989;
    display: inline-block;
    height: 3px;
    margin-bottom: 16px;
    width: 60px;
}


/* hero grid */

.herogrid {
    text-align: center;
    padding: 70px 0;
}

.herogridsection {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    padding: 30px 0 0 0;
}

.heroimage {
    padding: 25px 15px;
    border: 1px solid grey;
}

.heroimage img {
    max-width: 150px;
}


/* team */

.team,
.services {
    text-align: center;
}

.team {
    padding-bottom: 70px;
}

.teamContainer,
.servicesContainer {
    padding: 0 15% 50px;
}


/* services */

.servicesBg {
    padding: 70px 0;
    background-color: #F6F6F6;
}

.servicesGrid {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 2.6%;
    grid-row-gap: 20px;
    text-align: left;
}

.servicesCard {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    transition: all .3s ease-out;
}

.servicesCard h4 {
    margin: 0;
}

.servicesCard .fa-solid:before {
    font-size: 40px;
}

.servicesCard:hover {
    transform: translate(0, -5px);
    background: #fff;
    border: 1px solid #ff0000;
}

.servicesCard:hover h4 {
    color: #ff0000;
}

.servicesCard:hover .fa-solid:before {
    color: #ff0000;
}


/*  */

.banner h1 {
    font-size: 50px;
}

.animatedH1::before {
    content: "MOST CREATIVE";
    animation: animate infinite 10s;
    color: #ff0000;
    font-weight: 100;
}

@keyframes animate {
    33% {
        content: "MOST INNOVATIVE";
    }
    66% {
        content: "MOST VALUABLE";
    }
}

.navbar-brand-wrapper img,
.footerlogo img {
    max-width: 200px;
}

.navbar-collapse-logo img {
    max-width: 100%;
}

.banner {
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 90px 0;
    min-height: 630px;
    background-position: center;
}

.banner .container h1 {
    color: #fff;
}

.navbar {
    background-color: #f7f8fa;
    padding: 20px 0px 20px 0;
}

@media(max-width:992px) {
    .servicesGrid {
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
    }
    .banner h1 {
        font-size: 40px;
    }
}

@media(max-width:600px) {
    .servicesGrid {
        grid-template-columns: auto;
    }
    .teamContainer,
    .servicesContainer {
        padding: 0;
    }
    .team {
        padding-bottom: 40px;
    }
    .banner h1 {
        font-size: 30px;
    }
}

.customer-feedback .customer-cards {
    background: transparent;
    padding: 5%;
}

.digital-marketing-service {
    padding: 70px 0;
}

.team {
    padding: 50px 0 0 0;
}

.owl-carousel {
    margin-bottom: 0;
}

html {
    scroll-behavior: smooth;
}