/* title line */

.tittle-line {
    background-color: #898989;
    display: inline-block;
    height: 3px;
    margin-bottom: 16px;
    width: 60px;
}


/* hero grid */

.herogrid {
    text-align: center;
    padding: 70px 0;
}

.herogridsection {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    padding: 30px 0 0 0;
}

.heroimage {
    padding: 25px 15px;
    border: 1px solid grey;
}

.heroimage img {
    max-width: 150px;
}


/* team */

.team {
    text-align: center;
}

.teamContainer {
    padding: 0 15% 50px;
}